{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : {{ad.title}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Réservez la voiture : {{ad.title}} </h1>
        <br>
        <p>Ce véhivule appartient à <strong> {{ad.author.fullName}}</strong> et dispose de {{ad.seats}} places. </p>
        <br>
        <div>
        <img src="{{ad.coverImage}}" alt="véhicule de {{ad.author.fullName}}" class="text-center shadow p-3 mb-5 bg-white rounded">
        </div>
        {{form_start(form)}}
        <div class="alert alert-light">
            
            <div class="row">
                <div class="col">
                    {{form_row(form.startDate)}}
                </div>
                <div class="col">
                     {{form_row(form.endDate)}}
                </div>
            </div>
        <h4>Montant total de la location : <span id="amount"></span>&euro;</h4>
        <span id="days">0</span> jour(s) au tarif {{ad.price}}&euro; / jour
        <h4 class="mt-3">Précision à transmettre au propriétaire </h4>
        {{form_row(form.comment)}}
        </div>
  
      
           
                    <button type="submit" class="btn btn-outline-primary">Valider </button>
               
        

        {{form_end(form)}}

    </div>

{% endblock %}

{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function(){
        $('#booking_startDate, #booking_endDate').datepicker({
            format:'dd/mm/yyyy',
            datesDisabled: [
                {% for day in ad.notAvailableDays %}
                    "{{day.format('d/m/Y')}}",
                {% endfor %}
            ],
            startDate: new Date()
        });

        $('#booking_startDate, #booking_endDate').on('change', calculDeTarif);
    });

    function calculDeTarif(){
        // récupération des dates
        const dateFin = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
        const dateDebut = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

        if (dateDebut && dateFin && dateDebut<dateFin){
            const NB_SEC = 24*60*60*1000;
            const intervale = dateFin.getTime() - dateDebut.getTime();
            const duree = intervale / NB_SEC;
            const tarif = duree* {{ad.price}};

            $('#days').text(duree);
            $('#amount').text(tarif.toLocaleString('fr-FR'));
        }
    }
</script>
{% endblock %}
