{% extends 'admin/base.html.twig' %}

{% block title %} Modification de l'annonce numéro {{ad.id}}{% endblock %}

{% form_theme form _self %}

{% block body %}
<br><br>
<div class="container-fluid">
    <h1 class="text-center">Modification de l'annonce {{ad.title}}</h1>
    <br><br>
    {{ form_start(form)}}

    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <div class="card-title">
                    Annonce
                    </div>
                </div>
                <div class="card-body">
                   {{ form_widget(form)}}

                   <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check"></i>
                        Valider
                   </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <div class="card-title">
                    Les réservations liées à cette annonce
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Emprunteur</th>
                                <th>Date de réservation</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in ad.bookings %}
                            <tr>
                                <td>{{booking.id}}</td>
                                <td>{{booking.booker.fullName}}</td>
                                <td>{{booking.createdAt | date('d/m/Y H:i')}}</td>
                                <td><a href="#" class="btn btn-primary"><i class="fas fa-pen"></i></a></td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
             <div class="card bg-light mt-5">
                <div class="card-header">
                    <div class="card-title">
                    Les commentaires liés à cette annonce
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Emprunteur</th>
                                <th>Note</th>
                                <th>Commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in ad.comments %}
                            <tr>
                                <td>{{comment.id}}</td>
                                <td>{{comment.author.fullName}}</td>
                                <td>{{comment.content}}</td>
                                <td><a href="#" class="btn btn-primary"><i class="fas fa-pen"></i></a></td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

 

    {{ form_end(form)}}
</div>

{% endblock %}

{% block _annonce_images_widget %}
    {{form_widget(form)}}
{% endblock %}

{% block _annonce_images_entry_row %}
    <div id="block_{{id}}">
    {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _annonce_images_entry_widget %}

    <div class="row align-items-center mb-3">
        <div class="col-4">
         
            {% if value %}
                <img src="{{value.url}}" alt="" class="img-fluid">
            {% endif %} 
             {{ form_row(form.url) }}
        </div>
        <div class="col-6">
             {{ form_row(form.caption) }}
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">
                <i class="fas fa-trash"></i>
            </button type="button">
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-action="delete"]').on('click',function(){
                const target= this.dataset.target;
                $(target).remove();
            })
        })
    </script>

{% endblock %}